body {
    margin: 0;
    padding: 0;
    background: #000;
}

p {
    font-size: 12px;
    line-height: 8px;
    text-align: justify;
    -webkit-background-size: cover;
    background-size: 50%;
    background-attachment: 1500px;
    background-repeat: no-repeat;
    background-position: center;
    background: url(valentines/pic12.png) no-repeat center;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(225, 225, 255, 0);

}
